# Multivariate Imputationn of Missing Values

1. KNN Imputer

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day39-knn-imputer/train.csv', usecols=['Age', 'Pclass', 'Fare','Survived'])

In [3]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score

In [5]:
X = df.drop('Survived', axis = 1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

In [6]:
imputer = X_train[['Age', 'Fare']]
ohe = X_train['Pclass']

In [7]:
ohe.head()

30     1
10     3
873    3
182    3
876    3
Name: Pclass, dtype: int64

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
trf = ColumnTransformer([('imputer', SimpleImputer(), ['Age', 'Fare']),
                        ('ohe', OneHotEncoder(), ["Pclass"])])

In [10]:
trf.fit(X_train)

ColumnTransformer(transformers=[('imputer', SimpleImputer(), ['Age', 'Fare']),
                                ('ohe', OneHotEncoder(), ['Pclass'])])

In [11]:
pipe = Pipeline([('trf', trf),
                ('logic', LogisticRegression())])

In [12]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('trf',
                 ColumnTransformer(transformers=[('imputer', SimpleImputer(),
                                                  ['Age', 'Fare']),
                                                 ('ohe', OneHotEncoder(),
                                                  ['Pclass'])])),
                ('logic', LogisticRegression())])

In [13]:
y_pred = pipe.predict(X_test)

In [14]:
accuracy_score(y_test, y_pred)

0.6927374301675978

In [18]:
# the cocept of weight uniform and weight being distance
#for uniform wight it's the normal procedure
#for distance one tenth of itls distance is multiplied by it's value

knn = KNNImputer(n_neighbors = 3, weights = 'distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [19]:
pd.DataFrame(X_train_trf, columns = X_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  26.151292    8.7125
709     1.0  71.000000   49.5042
710     1.0  32.666667  221.7792
711     1.0  49.762895   25.9250

[712 rows x 3 columns]

In [20]:
lr = LogisticRegression()
lr.fit(X_train_trf, y_train)
pred = lr.predict(X_test_trf)
accuracy_score(y_test, pred)

0.7150837988826816